
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #DEB887;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container .logo {
  width: 60px;
  cursor: pointer;
}

.header-container .navbar-container {
 width: 50%;
 align-self: center;
}

.header-container .navbar-container .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: center;
}

.list-container {
  width: 40%;
  margin: 10px;
  background-color: blanchedalmond;
  padding: 5px;
  border: 2px solid darkgoldenrod;
}

.list-container h2 {
  text-align: center;
  font-style: italic;
  letter-spacing: 2.5px;
  font-weight: lighter;
  opacity: 0.9;
}

.book-list-container {
  width: 80%;
  background-color: rgb(95, 68, 68);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-radius: 10px;
  margin: auto;
}

.book-list-container .book {
  width: 90%;
  background-color: rgb(65, 57, 46);
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.book-list-container .book img {
  width: 30%;
  min-width: 100px;
}

.book-list-container .book h3 {
  font-size: 1.3rem;
  font-weight: lighter;
}

.book-list-container .book p {
  font-size: 1.1rem;
}

.book-details-container {
  margin: auto;
  width: 90%;
  min-height: 90%;
  max-height: 90%;
  background-color: rgb(65, 57, 46);
  padding: 10px;
  color: #fff;
  box-shadow: 1px 2px 5px 3px black;
  flex-wrap: wrap;
}

.book-details-container .details-img-container {
  width: 40%;
  min-width: 120px;
}

.book-details-container h3 {
  font-weight: lighter;
  letter-spacing: 1px;
  font-style: italic;
}

.book-details-container p {
  line-height: 1.5;
  opacity: 0.9;
}

.details-btn {
  margin: 5px 0;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  background-color:steelblue;
  transition: all 0.3s linear;
}

.details-btn:hover {
  background-color: darkblue;
}

.star {
  font-size: 20px;
  cursor: pointer;
}

.star-rating .rating-value {
  font-size: 20px;
  margin-left: 20px;
}

@media (max-width:700px) {

  .list-container {
    width: 45%;
  }

  .list-container h2 {
    font-size: 1rem;
  }

  .book-list-container .book img {
    width: 30%;
    min-width: 50px;
  }
  
  .book-list-container .book h3 {
    font-size: 0.9rem;
  }
  
  .book-list-container .book p {
    font-size: 0.6rem;
  }

  .book-details-container h3 {
    font-size: 0.8rem;
  }

  .book-details-container h5 {
    font-size: 0.7rem;
  }
  
  .book-details-container p {
    line-height: 1.2;
    font-size: 0.8rem;
    word-break: break-all;
  }

  .star {
    font-size: 0.8rem;
  }
  
  .star-rating .rating-value {
    font-size: 0.8rem;
  }
  
  .details-btn {
   font-size: 0.8rem;
  }
}

@media (max-width:450px) {
  .list-container h2 {
    font-size: 0.7rem;
  }

  .book-list-container .book img {
    width: 30%;
    min-width: 50px;
  }

  .book-list-container {
    width: 95%;
  }
  
  .book-list-container .book h3 {
    font-size: 0.7rem;
  }
  
  .book-list-container .book p {
    font-size: 0.5rem;
  }
}